<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
    <head>
        <title>Yogesh Salunke</title>
        <script src='http://maps.google.cn/maps/api/js'></script>
        <script src="js/resources/angular.min.js"></script>
        <script src="js/resources/lodash.min.js"></script>
        <script src="js/resources/angular-simple-logger.min.js"></script>
        <script src="js/resources/angular-google-maps.min.js"></script>
        <script src="js/resources/ui-bootstrap-tpls.min.js"></script>
        <script src="js/resources/angular-animate.min.js"></script>
        <script src="js/resources/angular-ui-router.min.js"></script>
        <script src="js/resources/angular-local-storage.min.js"></script>
        <script src="js/resources/angular-toastr.tpls.min.js"></script>
        <script src="js/resources/spin.min.js"></script>
        <script src="js/resources/angular-spinner.min.js"></script>
        <script src="js/app.min.js"></script>

        <link rel="icon" href="images/yogcon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/angular-toastr.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css"> 
        <link rel="stylesheet" href="css/app.min.css">
        
    </head>

  <body class="{{bodybg}}">
   
            <div class="tech-skin">
            
                <header-nav ng-if="bodybg != 'bodybg'"></header-nav>

                <div class="main-container" >
                    
                    <left-nav ng-if="bodybg != 'bodybg'"></left-nav>

                    <div class="main-content">
                        <div class="main-content-inner">
                            <div class="page-content"> 
                                    <div ui-view></div>
                            </div>
                        </div>
                    </div>

                    <footer-nav ng-if="bodybg != 'bodybg'"></footer-nav>
                    
                </div>
            </div>          
  </body>

</html>

