
<div class="row outerdiv" style="margin-top:35px;">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<div class="txt_center"><h3>Angular Bar Chart</h3></div>
		<canvas id="bar" class="chart chart-bar" chart-data="chart.bardata" chart-labels="chart.barlabels" chart-series="chart.barseries">
		</canvas>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<div class="txt_center"><h3>Angular Mixed Type Chart</h3></div>
		<canvas id="base" class="chart-bar" chart-data="chart.mixdata" chart-labels="chart.mixlabels" chart-colors="chart.mixcolors" chart-dataset-override="chart.mixdatasetOverride" >
		</canvas> 
	</div>
</div>