<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<!--Left header-->
		
		<div class="navbar-header"> 
			<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar">
				</span> <span class="icon-bar"></span> 
			</button> -->
			<button type="button" class="navbar-toggle pull-left" data-target="#mobile-idebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
			</button>

			<a ui-sref="dashboard" class="navbar-brand">
				<small>	
				<i class="fa fa-leaf" aria-hidden="true"></i>
				TechFast &nbsp;Admin
				</small>
			</a>	
		</div>

		<!--Right header-->
	      <div class="navbar-buttons navbar-right" role="navigation">
	        	<ul class="nav tech-nav">
						<li uib-dropdown>
							<a href="#" class="purple" uib-dropdown-toggle  aria-haspopup="true" aria-expanded="false">
								<i class="tech-icon fa fa-bell"></i>
								<span class="badge badge-notify">8</span>
							</a>

							<ul class="dropdown-menu tech-caret">
								<li class="dropdown-header">
									<i class="tech-icon fa fa-check"></i>
									4 Tasks to complete
								</li>
								<li class="dropdown-footer">
									<a href="#">
										See tasks with details
										<i class="tech-icon fa fa-arrow-right"></i>
									</a>
								</li>
								<li class="dropdown-footer">
									<a href="#">
										See tasks with details
										<i class="tech-icon fa fa-arrow-right"></i>
									</a>
								</li>
								<li class="dropdown-footer">
									<a href="#">
										See tasks with details
										<i class="tech-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li uib-dropdown>
							<a href="#" class="green" uib-dropdown-toggle  aria-haspopup="true" aria-expanded="false">
								<i class="tech-icon fa fa-envelope"></i>
								<span class="badge badge-msg">5</span>
							</a>

							<ul class="dropdown-menu tech-caret">
								<li class="dropdown-header">
								<a href="#">
									<i class="tech-icon fa fa-envelope-o"></i>
									5 Messages
								</a>
								</li>
								<li class="dropdown-header">
									<a href="#">
									<i class="tech-icon fa fa-envelope-o"></i>
									5 Messages
									</a>
								</li>
								<li class="dropdown-header">
									<a href="#">
									<i class="tech-icon fa fa-envelope-o"></i>
									5 Messages
									</a>
								</li>
								<li class="dropdown-header">
									<a href="#">
									<i class="tech-icon fa fa-envelope-o"></i>
									5 Messages
									</a>
								</li>
							</ul>
						</li>

						<li uib-dropdown>
							<a href="#" class="light-blue" uib-dropdown-toggle  aria-haspopup="true" aria-expanded="false">
								<img class="nav-user-photo" src="../images/user.jpg" alt="Jason's Photo">
								<span class="user-info">
									<small>Welcome,</small>
									Yogesh
								</span>
								<i class="tech-icon fa fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu tech-caret">
								<li>
									<a href="profile.html">
										<i class="tech-icon fa fa-user"></i>
										Profile
									</a>
								</li>
								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="tech-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>

			</ul>
	      </div>
</nav>

<!--right navigation panel-->
<div class="sidebar tech-left">
	<div class="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="tech-icon fa fa-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="tech-icon fa fa-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="tech-icon fa fa-users"></i>
			</button>

			<button class="btn btn-danger">
				<i class="tech-icon fa fa-cogs"></i>
			</button>
		</div>
	</div>

	<ul class="nav nav-list" style="top: 0px;">
			<li class="active">
				<a href="#">
					<i class="menu-icon fa fa-tachometer"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
			</li>
			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-desktop"></i>
					<span class="menu-text">
						UI &amp; Elements
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
			</li>

	</ul>

</div>






<!-- <div class="container-fluid" id="container"> -->
	<!-- Div for login spinner-->
    <!-- <span us-spinner spinner-on="dash.homespn"></span> -->
		
<!-- <left-nav></left-nav> -->
				<!-- {{dash.homedata}} -->
<!-- </div> -->

