<div class="sidebar tech-left" ng-class="{smallNav: nav.menumin}">
	<div class="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" ng-hide="nav.menumin">
			<button class="btn btn-success">
				<i class="tech-icon fa fa-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="tech-icon fa fa-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="tech-icon fa fa-users"></i>
			</button>

			<button class="btn btn-danger">
				<i class="tech-icon fa fa-cogs"></i>
			</button>
		</div> 
		<div class="sidebar-shortcuts-mini" ng-show="nav.menumin">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div>

	<ul class="nav nav-list" style="top: 0px;" ng-init="activeMenu='dash'">
			<li ng-class="{active: activeMenu=='dash'}">
				<a href="javascript:void(0)" ng-click="activeMenu=(activeMenu !='dash')?'dash':'noMenu'">
					<i class="menu-icon fa fa-tachometer"></i>
					<span class="menu-text"> Dashboard </span>
				</a>
			</li>
			<li ng-class="{active: activeMenu=='ui'}">
				<a href="javascript:void(0)" ng-click="activeMenu=(activeMenu!='ui')?'ui':'noMenu'">
					<i class="menu-icon fa fa-desktop"></i>
					<span class="menu-text">
					UI & Elements
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
			</li>
			<li ng-class="{active: activeMenu=='table'}">
				<a href="javascript:void(0)" ng-click="activeMenu=(activeMenu!='table')?'table':'noMenu'">
					<i class="menu-icon fa fa-list-ul"></i>
					<span class="menu-text">
					Table
					</span>
				</a>
			</li>
			<li ng-class="{active: activeMenu == 'form'}">
				<a href="javascript:void(0)" ng-click="activeMenu=(activeMenu!='form')?'form':'noMenu'">
					<i class="menu-icon fa fa-pencil-square-o"></i>
					<span class="menu-text">
					Forms
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
			</li>
			<li ng-class="{active: activeMenu=='gallary'}">
				<a class="tech-cur" ng-click="activeMenu=(activeMenu!='gallary')?'gallary':'noMenu'">
					<i class="menu-icon fa fa-picture-o"></i>
					<span class="menu-text">
					Gallery
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<ul class="submenu nav-show" uib-collapse="activeMenu!='gallary'" true>
						<li ng-class="{active: SubMenu=='simple'}">
							<a href="javascript:" ng-click="SubMenu=(SubMenu!='simple')?'simple':'nosub'">
								<i class="menu-icon fa fa-caret-right"></i>
								Simple &amp; Dynamic
							</a>

							<b class="arrow"></b>
						</li>
						<li ng-class="{active: SubMenu=='jgrid'}">
							<a href="javascript:" ng-click="SubMenu=(SubMenu!='jgrid')?'jgrid':'nosub'">
								<i class="menu-icon fa fa-caret-right"></i>
								jqGrid plugin
							</a>

							<b class="arrow"></b>
						</li>
				</ul>
			</li>
	</ul>
	<div class="sidebar-toggle">
		<i class="tech-icon fa fa-angle-double-left" ng-click="nav.toggleSidebar()"></i>
	</div>
</div>
