
<div class="container-fluid" id="container" ng-controller="AuthenticationCtrl as login">

 <section id="form" class="animated fadeInDown">
    <div class="container">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel white-alpha-90"> 
        <!-- Div for login spinner-->
          <span us-spinner spinner-on="login.loginspn"></span>
          <div class="panel-heading">
            <div class="panel-title text-center"><h2>Sign In to <span class="text-danger">Angular</span></h2></div> 
          </div>
          <div class="panel-body" >
            <form class="form-horizontal loginform"  name="loginform" role="form" ng-submit="login.login()">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" name="username" value="" placeholder="username or email" required ng-model="login.username">
                </div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="password" required ng-model="login.password">
                </div>        
                <div class="input-group col-xs-12 text-center login-action">
                  <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" value="1" style="margin-top: 10px;"> Remember me &nbsp;
                    <span id="btn-login">
                        <button type="submit" class="btn btn-success" name="login">Login</button>
                    </span>
                  </label>
                  </div>
                </div>
                <div style="margin-top:10px" class="form-group">
                  <div class="col-sm-12 controls">
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
    <footer> 
      <nav class="navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container text-center">
        <div class="footer-content">
          Haven't registered yet? <a ui-sref="register" class="btn btn-danger"> Register Here </a>
        </div>
        </div>
      </nav>
    </footer>
    
  </div>


<!--
<div class="panel-body" >
            <form class="form-horizontal loginform"  name="loginform" role="form" ng-submit="login.login()">
                <div class="input-group" ng-class="{ 'has-error' : loginform.username.$invalid && !loginform.username.$pristine }">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="username" class="form-control" ng-model="username" value="" placeholder="username or email" ng-model="login.username" required  ng-minlength="5" ng-maxlength="10" required>
                </div>
                    
                    <span ng-show="loginform.username.$error.maxlength" class="help-block">Username too long. maximum length is 10 </span>
                    <span ng-show="loginform.username.$error.minlength" class="help-block">Username too short. minimum length is 5 </span>
      
                <div class="input-group" ng-class="{'has-error':loginform.password.$invalid && !loginform.password.$pristine }">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="password" ng-model="login.password" required ng-minlength="5" ng-maxlength="25">
                </div>
                   
                    <span class="help-block" ng-show="loginform.password.$error.maxlength">Password too long. maximum length is 25</span>
                    <span class="help-block" ng-show="loginform.password.$error.minlength">Password too short. minimum length is 5</span>

                <div class="input-group col-xs-12 text-center login-action">
                  <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" value="1" style="margin-top: 10px;"> Remember me &nbsp;
                    <span id="btn-login">
                        <button type="submit" class="btn btn-success" name="login" ng-disabled="loginform.$invalid">Login</button>
                    </span>
                  </label>
                  </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                  <div class="col-sm-12 controls">
                  </div>
                </div>
            </form>
          </div>

-->