
<div class="row outerdiv map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key={{gmap.mapApiKey}}">
   
   <div class="col-md-8 mapcss col-sm-12">
        <ng-map zoom="4" center="{{gmap.center.lat}},{{gmap.center.long}}" 
            class="ngmap"  on-click="gmap.addMarker()">
            <div ng-if="gmap.showDirection">
                <directions draggable="true"  travel-mode="DRIVING"
                  origin="{{gmap.mapLocations.origin}}"
                  destination="{{gmap.mapLocations.destination}}">
                </directions>
                <marker ng-repeat="location in gmap.mapLocations" position="{{location}}" 
                    on-dragend="gmap.getpos($event)" animation="DROP" draggable="true"> 
                </marker>
            </div>
      </ng-map>
   </div>

   <div class="col-md-4 col-sm-12">
        <div class="outercss">
          <form name="direction" class="" role="form" ng-submit="gmap.getDirection()">
              <div class="row directionForm">
                  <div class="form-group">
                      <label for="source">Source Location:</label>
                      <input type="text" class="form-control" name="source" ng-model="gmap.source" placeholder="Please enter source location" required>
                  </div>
                  <div class="form-group">
                      <label for="source">Destination Location:</label>
                      <input type="text" class="form-control" name="source" ng-model="gmap.destination" placeholder="Please enter destination location" required>
                  </div>
                  <div class="form-group"> 
                    <div class="col-sm-12" style="text-align:center">
                      <button type="submit" class="btn btn-success" ng-disabled="direction.$invalid"><b>Get Direction</b></button>
                    </div>
                  </div>
              </div>
              <div class="row directionInfo" ng-if="gmap.showDirection">
                  <div class="form-group">
                      <label for="source">Estimated Distance:&nbsp;&nbsp;<span class="estimation">{{gmap.distance}}</span></label>
                  </div>
                  <div class="form-group">
                      <label for="source">Estimated time:&nbsp;&nbsp;<span class="estimation">{{gmap.time}}</span></label>
                  </div>
            </div>
          </form>
        </div>  
   </div>

</div>