
<div class="container" id="container" ng-controller="AuthenticationCtrl as register">

  <section id="form" class="animated fadeInDown">
    <div class="container">
      <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel white-alpha-90" >
        <!-- Div for login spinner-->
          <span us-spinner spinner-on="register.loginspn"></span>
          <div class="panel-heading">
            <div class="panel-title text-center"><h2>Sign Up to <span class="text-danger">Angular</span></h2></div>
          </div>
          <div class="panel-body" >

            <form class="form-horizontal loginform" role="form" ng-submit="register.register()">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" name="name" value="" placeholder="name" required ng-model="register.name">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" name="username" value="" placeholder="username" required ng-model="register.username">
                </div>
                <div class="input-group col-xs-6">
                  <span class="input-group-addon">@</span>
                  <input type="email" class="form-control" name="email" value="" placeholder="email" required ng-model="register.email">
                </div>
                <div class="input-group col-xs-6">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="password" required ng-model="register.password">
                </div>
                <div class="input-group col-xs-12 text-center login-action">
                  <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" value="1" style="margin-top: 10px;" required> I agree to terms and conditions &nbsp;
                    <span id="btn-login">
                        <button type="submit" class="btn btn-success" name="register">Register</button>
                    </span>
                  </label>
                  </div>
                </div>
                <div style="margin-top:10px" class="form-group">
                  <div class="col-sm-12 controls">
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

    <footer>
      <nav class="navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container text-center">
        <div class="footer-content">
          Already registered? <a ui-sref="login" class="btn btn-danger"  uib-popover="Click here to login !" popover-trigger="mouseenter"> Sign In </a>
        </div>
        </div>
      </nav>
    </footer>

  </div>